body {
	margin-top: 60px;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	color: #fff;
	text-align: center;
	font-size: 4em;
	background-color: rgba(0,0,0,0.5);
}
